/* ... ARROWS ....*/
.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #ddd;
}

.right-arrow {
    right: 24px;
}

/* ... */

.outer {
    padding: 10px;
    overflow-y: hidden;
    width: 100%;
    height: 90%;
}

.flex-container {
    overflow-x: auto;
    height: calc(100% + 17px);
    display: flex;
    flex-wrap: nowrap;
}
.flex-container::-webkit-scrollbar{
    display: none
}
.card {
    flex: 1 0 100px;
    height: 150px;
    display: inline-block;
    margin: 5px;
    border: 1px solid;
}